[Unit]
Description=flaskapi
After=network.target

[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/home/saba/Work/devops-work/Drass/DRaaS
ExecStart=/home/saba/Work/devops-work/Drass/env/bin/python /home/saba/Work/devops-work/Drass/DRaaS/flaskapi.py
SyslogIdentifier=flaskapi

[Install]
WantedBy=multi-user.target