[Unit]
Description=get_redis_jobs
After=network.target

[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/home/saba/Work/devops-work/Drass/DRaaS
ExecStart=/home/saba/Work/devops-work/Drass/env/bin/python /home/saba/Work/devops-work/Drass/DRaaS/get_redis_jobs.py
SyslogIdentifier=get_redis_jobs

[Install]
WantedBy=multi-user.target